In [44]:
import pandas as pd
import datetime as dt
import plotly.graph_objects as go

In [45]:
df=pd.read_excel("rates.xlsx")
df.head()

        Date Rates  Points
0 1971-04-07  7.31     NaN
1 1971-05-09  7.43     NaN
2 1971-06-10  7.53     NaN
3 1971-07-12   7.6     NaN
4 1971-08-13   7.7     NaN

In [46]:
df.Date=df.Date.dt.strftime("%m %Y")

In [47]:
df

        Date Rates  Points
0    04 1971  7.31     NaN
1    05 1971  7.43     NaN
2    06 1971  7.53     NaN
3    07 1971   7.6     NaN
4    08 1971   7.7     NaN
..       ...   ...     ...
591  07 2020  3.02     0.8
592  08 2020  2.94     0.8
593  09 2020  2.89     0.8
594  10 2020  2.83     0.7
595  11 2020  2.77     0.7

[596 rows x 3 columns]

trace1 = {
    'x': df.Date,
    'type': 'candlestick',
    'name': stock,
    'showlegend': True
}

In [49]:
layout = go.Layout({
    'title': {
        'text': 'US National Interest Rate (1971-2020)',
        'font': {
            'size': 15
        }
    }
})

fig = go.Figure(data=df, layout=layout)
fig.show()

ValueError:
    Invalid element(s) received for the 'data' property of
        Invalid elements include: [        Date Rates  Points
0    04 1971  7.31     NaN
1    05 1971  7.43     NaN
2    06 1971  7.53     NaN
3    07 1971   7.6     NaN
4    08 1971   7.7     NaN
..       ...   ...     ...
591  07 2020  3.02     0.8
592  08 2020  2.94     0.8
593  09 2020  2.89     0.8
594  10 2020  2.83     0.7
595  11 2020  2.77     0.7

[596 rows x 3 columns]]

    The 'data' property is a tuple of trace instances
    that may be specified as:
      - A list or tuple of trace instances
        (e.g. [Scatter(...), Bar(...)])
      - A single trace instance
        (e.g. Scatter(...), Bar(...), etc.)
      - A list or tuple of dicts of string/value properties where:
        - The 'type' property specifies the trace type
            One of: ['area', 'bar', 'barpolar', 'box',
                     'candlestick', 'carpet', 'choropleth',
                     'choroplethmapbox', 'cone', 'contour',
                     'contourcarpet', 'densitymapbox', 'funnel',
                     'funnelarea', 'heatmap', 'heatmapgl',
                     'histogram', 'histogram2d',
                     'histogram2dcontour', 'image', 'indicator',
                     'isosurface', 'mesh3d', 'ohlc', 'parcats',
                     'parcoords', 'pie', 'pointcloud', 'sankey',
                     'scatter', 'scatter3d', 'scattercarpet',
                     'scattergeo', 'scattergl', 'scattermapbox',
                     'scatterpolar', 'scatterpolargl',
                     'scatterternary', 'splom', 'streamtube',
                     'sunburst', 'surface', 'table', 'treemap',
                     'violin', 'volume', 'waterfall']

        - All remaining properties are passed to the constructor of
          the specified trace type

        (e.g. [{'type': 'scatter', ...}, {'type': 'bar, ...}])